

.container{
    width: 100%;
    /* height: 55vh; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
    border: 1px solid black;
    border-radius: 5px;
    margin : 15px 10px;
}
.container img{
    width: 200px;
    height: auto;
    
    
}

.container-content{
    
    background-color: white;
    width: 50%;
}
.main-content{
    height: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.item-detail{
    width: 80%;
    padding: 20px;
    margin: 2ox
}

.price{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.price label{
    font-size: 2em;
    font-weight: bold;
    font-family: cursive;
    color: #1616bd;
}
.top-up{
    display: flex;
    widows: 80%;
    
    align-self: flex-end;
}
.top-up button {
    
    margin: 1%;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    color: #1616bd;
    font-weight: 700;
}

.top-up button:active{
    background-color: #1616bd;
    color: white;
    border: none;
}





.quantity{
    display: flex;
    border: 2px solid;
    border-color: blue;
    width: 100px;
    align-self: center;
    border-radius: 5px;
    padding: 2px;
}
.quantity label{
    flex-grow: 2;
    text-align: center;
    color: blue;
}
.quantity button{
    border: 2px solid;
    border-color: transparent;
    border-radius: 5px;
    background-color: darkgoldenrod;
}

.cancelbutton button{
    padding: 10px;
    margin: 10px;
    border: none;
    color: red;
    background-color: transparent;
    
}






