.delivery-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delivery-type button{
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-family: fantasy;
    color: white;
    background-color: #1616bd;
    border: none;

}

.foot-content{
    
    display: inline;
    

}

.spanleft{
    position: absolute;
    left: 0px;
} 
strong{
    font-size: 1.5em;
    font-family: sans-serif;
    color: #1616bd;
    text-decoration: underline;
    text-decoration-color: #f7f711;
}
.spanright{
    position: absolute;
    right: 0px;
} 