.foot-content{
  
    width: 100%;
       
    display: flex;
    justify-content: space-between;

}
.span-left{
    width: 80%;
    
}
strong{
    font-size: 1.5em;
    font-family: sans-serif;
    color: #1616bd;
    text-decoration: underline;
    text-decoration-color: #f7f711;
}
.head-content button{
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    color: red;
    border-color: red;
    border-radius: 2px;
    background-color: transparent;
}
.span-right{
    margin-left: auto;
    
}
a{
    text-decoration: solid;
    color: black;
    padding: 5px 5px 5px 5px;
}



.head-content{
    width: 100%;
   
    display: flex;
    justify-content: space-between;
}

.left{
width: 70%;

}
.right{
margin-left: auto;
}